{%include "head.twig" %}
		<div class="container-narrow">
			
			{% if not is_front_page %}
			<div class="masthead">
				<ul class="nav nav-pills pull-right">
					{% for page in pages %}
						{% if not page.date %}
						<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<h3 class="muted"><a href="{{ base_url }}">{{ site_title }}</a></h3>
			</div>

			<hr>
			{% endif %}
			
			{% if is_front_page %}
			<div class="jumbotron">
				<h1>{{ site_title }}</h1>
				<div class="lead">
					{{ content }}
				</div>
			</div>

			<hr>

			{% for page in pages %}
				{% if page.date %}
				<div class="row-fluid post-listing">
					<div class="span3 text-right hidden-phone">
						<p class="meta muted">{{ page.date_formatted }}</p>
					</div>
					<div class="span9">
						<p><a href="{{ page.url }}">{{ page.title }}</a></p>
					</div>
				</div>
				{% endif %}
			{% endfor %}
			{% else %}
			<div class="row-fluid marketing">
				<div class="span12">
					<h1>{{ meta.title }}</h1>
					<p class="lead meta muted">{{ meta.date_formatted }}</p>
					{{ content }}
				</div>
			</div>
			{% endif %}

{% include "foot.twig" %}
